.toright{
    float: right;
    margin-right: 2%;
    color: aliceblue;
    .buttondelete{
        border-radius:'50%';
        width:'48px';
        height:'48px';
    }
    .img{
        width: 50px;
        height: 50px;
    }
  }