@import './error-message';

.app-container {
  width: 100%;
  height: 100%;
}

.hide {
  display: none;
}

.no-underline:hover {
  text-decoration: none;
}

input {
  &::placeholder {
    font-size: 27.5px;
    color: #dedddd;
  }
  &.fake-input {
    border: none;
    width: 1px;
    height: 0;
    position: absolute;
    top: 0;
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 4px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: black;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7e7e7e;
    border: 4px solid #555555;
    border-radius: 4px;
  }
}

mark {
  background: none !important;
}

// Disabled blue field background
textarea,
input,
*:focus {
  outline: none !important;
}

@import './calendar.scss';