$weekBarBG: orange;
$dayDisabledColor: gray;
$todayCaretColor: black;
$calendarBorder: black;
$dayActiveBG: orange;
$dayActiveColor: white;
$inlineShadowColor: gray;

.calendar-wapper {
  .cinput-wrapper {
    display: flex;
  }
  .no-inline {
    display: none;
    position: fixed;
    z-index: 999;
    box-shadow: 3px 3px $inlineShadowColor;
  }
  .calendar-view {
    display: inline-grid;
    grid-template-rows: 50px 50px 1fr;
    border-bottom: 1px solid $calendarBorder;
    border-left: 1px solid $calendarBorder;
    > div {
      border-top: 1px solid $calendarBorder;
      border-right: 1px solid $calendarBorder;
    }
    .cell {
      display: grid;
      align-items: center;
      justify-items: center;
    }
    .switch-wrapper {
      display: grid;
      grid-template-columns: 30px 1fr 30px;
      > div,
      > i {
        @extend .cell;
      }
    }
    .weekdays-wrapper {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      background: $weekBarBG;
      > div {
        @extend .cell;
        border-right: 1px solid $calendarBorder;
      }
      div:last-child {
        border-right: none;
      }
    }
    .content-wrapper {
      grid-row: 3;
      display: grid;
      grid-template: repeat(6, 1fr) / repeat(7, 1fr);
      .day {
        @extend .cell;
        &.today {
          :before {
            content: '';
            display: inline-block;
            border: solid transparent;
            border-width: 0 0 7px 7px;
            border-bottom-color: $todayCaretColor;
            position: relative;
            left: 18px;
            top: 3px;
          }
        }
        &.active {
          background: $dayActiveBG;
          color: $dayActiveColor;
        }
      }
      .day-prev,
      .day-next {
        color: $dayDisabledColor;
      }
    }
  }
}
